In [6]:
number = False

if number > 0 :
    print("positive number")
elif number == 0:
    print("zero")
else:
    print("negative number")
    
print("Always print this")

zero
Always print this

In [8]:
for i in range(6):
    print(i)

0
1
2
3
4
5

In [9]:
days = 0
week = ['mon','tues','wed','thurs','fri','sat','sun']

while days<7:
    print("today is "+week[days])
    days+=1

today is mon
today is tues
today is wed
today is thurs
today is fri
today is sat
today is sun

In [11]:
days = 0
week = ['mon','tues','wed','thurs','fri','sat','sun']

for days in range(7):
    print("today is "+week[days])
    days+=1

today is mon
today is tues
today is wed
today is thurs
today is fri
today is sat
today is sun

In [12]:
text = "i write code"
text.split()

['i', 'write', 'code']

In [14]:
text = "i write code"
text.split('i')

['', ' wr', 'te code']

In [15]:
text = 'I love phython'
text.split()

['I', 'love', 'phython']

In [16]:
x = input('enter 3 word message')

enter 3 word message welcome to pwskills

In [17]:
y = 1
y,w = 4,5

In [18]:
word1 , word2, word3 = x.split()

In [19]:
word1

'welcome'

In [20]:
word3

'pwskills'

In [21]:
a = int(input("enter first number"))
b = int(input("enter first number"))
print(a + b)

enter first number 4
enter first number 5

9

In [28]:
a, b = input("enter 2 number").split()
c = int(a)+int(b)

print(c)

enter 2 number 89 76

165

In [26]:
s = input("enter rol no., name and percentage")
roll, name,percent = s.split()
print("roll" + roll)
print("name" + name )
print("percentage" + percent)

enter rol no., name and percentage 67 Sumit 89

roll67
nameSumit
percentage89

In [32]:
s1 = "A B C D E F G H "
print(s1.split(' ',7))

['A', 'B', 'C', 'D', 'E', 'F', 'G', 'H ']

In [33]:
s1 = "hi@hi@hi@hi"
print(s1.split('@',5))

['hi', 'hi', 'hi', 'hi']

In [34]:
s1 = "hi@hi@hi@hi"
print(s1.split('@'))

['hi', 'hi', 'hi', 'hi']

In [35]:
s1 = "hi@hi@hi@hi"
print(s1.split('@',2))

['hi', 'hi', 'hi@hi']

In [36]:
for letter in "pwskills":
    print('letter' ,letter)

letter p
letter w
letter s
letter k
letter i
letter l
letter l
letter s

In [47]:
for letter in "pwskills":
    if letter == 'l':
        break # exit the loop
    print('letter' ,letter)

letter p
letter w
letter s
letter k
letter i

In [38]:
for i in range(5):
    if i == 3:
        break
    print(i)

0
1
2

In [39]:
list(range(5))

[0, 1, 2, 3, 4]

In [41]:
i  = 1

while i<=10:
    print(i)
    
    if i >= 5:
        break
    i+=1

1
2
3
4
5

In [43]:
numbers = [10,20,30,40,890]

for i in numbers:
    if i>23:
        break
    print(i)

10
20

In [44]:
s = "hello world"
for char in s:
    print(char)
    
    if char == ',':
        break

h
e
l
l
o

w
o
r
l
d

In [45]:
s = "hello, world"
for char in s:
    print(char)
    
    if char == ',':
        break

h
e
l
l
o
,

In [46]:
for letter in "pwskills":
    if letter == 'i':
        continue # skip particular iteration
    print(letter)

p
w
s
k
l
l
s

In [48]:
for i range(5)

SyntaxError: invalid syntax (3447926948.py, line 1)

In [50]:
for i in range (5):
    if i == 3:
        continue
    print(i)

0
1
2
4

In [51]:
#write a program to print odd number 1 to 10

In [2]:
for h  in range (1,11):
    if  h % 2 == 0:
        continue
    print(h)

1
3
5
7
9

In [10]:
for k in range(11):
     k = (k/2)+1
print(k)

6.0

In [7]:
n = 10

if n>10:
    pass

print("hello")

hello

In [11]:
for i in range(5):
    pass

In [12]:
for letter in "pwskills":
    if letter == 'i':
        pass
    print(letter)

p
w
s
k
i
l
l
s

In [14]:
#functions

In [15]:
a = 10
b = 90
print(a + b)

100

In [25]:
a = input()
b = input()

def add(a,b):
    return a + b

 10
 20

In [22]:
def greet():
    print("hello world")

In [23]:
greet()

hello world

In [24]:
add()

TypeError: add() missing 2 required positional arguments: 'a' and 'b'

In [27]:
add(12,20)

32

In [29]:
def addnum():
    a = 10
    b = 78
    c = a+b
    print(c)

In [30]:
addnum(2,4)

TypeError: addnum() takes 0 positional arguments but 2 were given

In [31]:
addnum()

88

In [32]:
def addtwonumber():
    a = input("enter first number")
    b = input("enter second number")
    c = int(a) + int(b)
    print(c)

In [33]:
addtwonumber()

enter first number 10
enter second number 20

30

In [37]:
def muliply_two_number(x,y):
    a=x
    b=y
    c=a*b
    print(c)

In [35]:
 muliply_two_number()

TypeError: muliply_two_number() missing 2 required positional arguments: 'x' and 'y'

In [38]:
 muliply_two_number(2,3)

6

In [39]:
def introduction(name):
    print("hi", name)

In [40]:
introduction("Sumit Kumar")

hi Sumit Kumar

In [41]:
def introduction(fname, lname):
    print("hi", fname + lname)

In [42]:
introduction("Sumit", "Kumar")

hi SumitKumar

In [68]:


def absolute_value(a):
    
    if a<0:
        a = -a
        print(a)
    else:
        print(a)

In [69]:
absolute_value(-98)

98

In [54]:
def absolute(n):
    if n>0:
        print(n)
    else:
        print(-n)

In [55]:
absolute(-8)

8

In [56]:
def fullname(a,b):
    c=a+b
    return

In [57]:
fullname('pw','skills')

In [70]:
x = fullname('Sumit','Kumar')

In [72]:
x

In [73]:
def fullname(a,b):
    c=a+b
    print(c)

In [74]:
x = fullname('Sumit','Kumar')

SumitKumar

In [75]:
x

In [76]:
def fullname(a,b):
    c=a+b
    return (c)

In [77]:
x = fullname('Sumit','Kumar')

In [78]:
x

'SumitKumar'

In [79]:
type(x)

str

In [81]:
def calculate(a,b):
    add = a+b
    sub = a-b
    mul = a*b
    div = a/b
    return add,sub,mul,div

In [82]:
calculate(2,3)

(5, -1, 6, 0.6666666666666666)

In [94]:
def calculate():
    a = int(input("enter fist number"))
    b = int(input("enter second number"))
    operation =input("enter operation")
    
    if operation == '+':
    
        return a+b
    
    if operation == '-':
    
        return a-b
    
    if operation == '*':
    
        return a*b
    
    if operation == '/':
    
        return  a/b

In [93]:
calculate()

enter fist number 5
enter second number 6
enter operation +

11

In [89]:
calculate()

enter fist number 5
enter second number 7
enter operayion +

NameError: name 'operation' is not defined

In [95]:
calculate()

enter fist number 45
enter second number 89
enter operation *

4005

In [97]:
a = input("enter number of rows")
b = input("symbol")

while(a>0):
 print(b)

enter number of rows 09
symbol 9

TypeError: '>' not supported between instances of 'str' and 'int'

In [99]:
# print even number in given range
def print_even_number():

    x =int(input("enter range"))

    for x in range(1,x+1):
        if x%2 == 0:
            print(x)

In [100]:
print_even_number()

enter range 34

2
4
6
8
10
12
14
16
18
20
22
24
26
28
30
32
34

In [108]:
def right_traingle():
    a = int(input( "enter 1st number"))
    b = int(input("enter 2nd number"))
    c = int(input("enter 3rd number"))
    
    
    if  a*a == b*b +c*c or b*b == a*a + c*c or c*c == a*a + b*b:
        return ("right traiangle")
    else:
         return("not")

In [106]:
right_traingle()

enter 1st number 2
enter 2nd number 3
enter 3rd number 4

'not'

In [107]:
right_traingle()

enter 1st number 3
enter 2nd number 4
enter 3rd number 5

'right trainale'