In [1]:
#Measure of Dispersion

In [2]:
#variance

In [4]:
ages_list = [23,45,67,89,87,65]

import numpy as np

In [5]:
import numpy as np

In [6]:
mean = np.mean(ages_list)

In [7]:
mean

62.666666666666664

In [8]:
 var = np.var(ages_list)
var

532.5555555555555

In [9]:
std = np.std(ages_list)

In [10]:
std

23.077165240894637

In [11]:
import pandas as pd

In [12]:
data = [[10,23,45],[45,65,76],[23,43,67]]

In [13]:
data

[[10, 23, 45], [45, 65, 76], [23, 43, 67]]

In [14]:
df = pd.DataFrame(data)

In [15]:
df

    0   1   2
0  10  23  45
1  45  65  76
2  23  43  67

In [16]:
df.var()

0    313.000000
1    441.333333
2    254.333333
dtype: float64

In [18]:
df1 = pd.DataFrame(data, columns = ["A","B","C"])

In [20]:
df1

    A   B   C
0  10  23  45
1  45  65  76
2  23  43  67

In [21]:
df1.var()

A    313.000000
B    441.333333
C    254.333333
dtype: float64

In [25]:
#Row wise
df1.var(axis =1)

0    313.000000
1    247.000000
2    485.333333
dtype: float64

In [26]:
#column wise
df1.var(axis =0)

A    313.000000
B    441.333333
C    254.333333
dtype: float64